<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h3>Register</h3>
        {% if flag == 1 %}
            <h5>Your passwords don't match</h5>
        {% endif %}
        <form action="/register" method="post">
            {% csrf_token %}
            <label for="">email</label>
            <input type="email" id="email" name="email" placeholder="add email" Required><br>
            <label for="">password</label>
            <input type="password" id="password" name="password" placeholder="add password" Required><br>
            <label for="">confirm password</label>
            <input type="text" id="cpassword" name="password" placeholder="confirm password" Required><br>
            <button type="submit">Submit</button>
        </form>
        <br>

        <button type="submit"><a href="/login">Already Registered</a></button>

        <script src="" async defer></script>
    </body>
</html>